<% f.object.class.attribute_types.each do |name, type_class| %>
  <div class="field">
    <div class="control">
      <% if type_class.type == :boolean %>
        <%= f.label name, class: 'checkbox' do %>
          <%= f.check_box name %>
          <%= name %>
        <% end %>
      <% else %>
        <%= f.label name, class: 'label' %>

        <% case type_class.type %>
        <% when :integer, :big_integer %>
          <%= f.number_field name, class: 'input' %>
        <% when :float, :decimal %>
          <%= f.number_field name, step: 0.01, class: 'input' %>
        <% when :string %>
          <%= f.text_field name, class: 'input' %>
        <% when :date %>
          <%= f.text_field name, class: 'input js-datepicker' %>
        <% when :datetime %>
          <%= f.text_field name, class: 'input js-datetimepicker' %>
        <% when :time %>
          <%= f.time_select name, class: 'input' %>
        <% when :binary %>
          <div class="file has-name js-file-field">
            <label class="file-label">
              <%= f.file_field name, class: 'file-input js-file-field-input' %>
              <span class="file-cta">
                <span class="file-label js-file-field-label">
                  <%= t('.choose_file') %>
                </span>
              </span>
              <span class="file-name"></span>
            </label>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
