<% f.object.class.attribute_types.each do |name, type_class| %>
  <div class="field">
    <div class="control">
      <% if type_class.type == :boolean %>
        <div class='checkbox'>
          <%= f.label name, class: 'label' %>
            <%= f.check_box name %>
            <%= name %>
        </div>
      <% else %>
        <%= f.label name, class: 'label' %>

        <% case type_class.type %>
        <% when :integer, :big_integer %>
          <%= f.number_field name, class: 'input' %>
        <% when :float, :decimal %>
          <%= f.number_field name, step: 0.01, class: 'input' %>
        <% when :string %>
          <%= f.text_field name, class: 'input' %>
        <% when :date %>
          <%= f.text_field name, class: 'input', data: { behaviour: 'datepicker' } %>
        <% when :datetime %>
          <%= f.text_field name, class: 'input', data: { behaviour: 'datetimepicker' } %>
        <% when :binary %>
          <%= f.file_field name, class: 'input' %>
        <% when :time %>
          <%= f.time_select name, class: 'input' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
