<% content_for(:title, t('.title', id: @admin_script.to_param)) %>

<% url = AdminScript::Engine.routes.url_helpers.admin_script_path(@admin_script) %>
<%= form_for @admin_script, url: url, as: :admin_script, method: 'patch', class: 'box' do |f| %>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <%= yield(:title) %>
        </h1>

        <%= simple_format f.object.description, { class: 'subtitle' } %>
      </div>
    </div>
  </section>

  <div class='box'>
    <%# Find custom template or default template %>
    <% template = @admin_script.model_name.element %>
    <% if lookup_context.exists?(template, lookup_context.prefixes, true) %>
      <%= render template, f: f %>
    <% else %>
      <%= render 'admin_script/admin_scripts/default_form', f: f %>
    <% end %>

    <div class="field">
      <div class="control">
        <%= f.button t('.perform'), class: 'button is-primary', data: { confirm: t('.confirm') } %>
      </div>
    </div>
  </div>

  <div class='box'>
    <pre><%= @admin_script.class.script %></pre>
  </div>
<% end %>
