<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <meta name='referrer' content='origin' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'admin_script/application', media: :all %>
    <%= javascript_include_tag 'admin_script/application' %>
    <%= csrf_meta_tags %>

    <title><%= [yield(:title).presence].compact.join(' | ') %></title>
  </head>

  <body>
    <section class="section">
      <div class="container is-widescreen">
        <% { notice: 'is-success', alert: 'is-warning' }.each do |key, type| %>
          <% if flash[key].present? %>
            <%= simple_format(flash[key], class: "notification #{type}") %>
          <% end %>
        <% end %>

        <%= yield %>
      </div>
    </section>
  </body>
</html>
